<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Halaman {% block judul%} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <a href="/">
                    <img src="{{ url_for('static', filename='img/amikom_logo.png') }}" style="width: 40px;">
                </a>
                Data Mahasiswa    
                <small>Teknik Komputer</small>
            </h1>
        </section>  
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            {% block JudulKonten %} {% endblock %}
                        </div>
                        <div class="box-body">
                            {% block konten %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>